*{
    font-size: arial;
}
.bg-gray{
    background-color: rgb(23, 50, 63);
}
.height-carousel{
min-height: 400px;
max-height: 400px;
}
.fa-facebook{
font-size: 3rem;
color: blue;
}
.fa-whatsapp{
    font-size: 3rem;
    color: rgb(39, 204, 66); 
}
.fa-instagram-square{
    font-size: 3rem;
    color: rgb(201, 17, 201);    
}
.img-inicio{
    width: 60%;
    border-radius: 10%;
   /* border:1px green solid;*/
}
.img-language img{
    width: 60%;
    border: 2px teal;
    border-radius: 30px;
}
.img-language img:hover{
    border: 5px pink solid;
    border-radius: 30px;
    box-shadow: 3px 5px 5px #706f6f;
    
}